<div class="user-details">
  <h1>Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="stealthespotlight" src="{{ "/assets/img/stealthespotlight.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Steal the Spotlight </h3>
    <ul>
      <li>Unity</li>
    </ul>
    <p>Steal the Spotlight is a game created by myself and three others using the Unity game engine as part of our Game Development course at the University of Michigan. The game was featured at a video game showcase where hundreds came to play our game.</p>
    <a class="project-link" href="https://tbdstudios.itch.io/steal-the-spotlight">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Legend of Zelda (NES) Rebuilt</h3>
    <ul>
      <li>Unity</li>
    </ul>
    <p>This Legend of Zelda Game is a remake of a dungeon in the original Legend of Zelda Game. This project served as an introduction to the Unity Game Engine where I learned and progressed my understanding of Unity. In addition to recreating the game, I learned a lot about good game design. With this knowledge, I implemented a new level into the game with a completely new mechanic not found in the original game.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
