.header-links {
    z-index: 1;
    text-align: center;
    color:#000000;
    position: absolute;
    top: 5%;
    left: 85%;
    margin: 0 auto;
    .link {
      color: #000000;
      text-decoration: none;
      font-size: 15px;
      margin: 10px;
      @media only screen and (min-width:$cut){
        font-size: 20px;
      }
    }
  }