.project-section-container {
  max-width: 1260px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 2rem 1rem;
}

.section-title {
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.light-bg {
  background-color: rgb(246, 246, 248);
}
