.project-hero {
  width: 100%;
}

.project-hero-container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
}

.project-hero-container > img {
  width: 100%;
}

.peregrine img {
  margin: 0 auto 0 auto;
  display: block;
  width: 60%;
}

.goshen img {
  filter: drop-shadow(0 24px 20px rgba(46, 13, 13, 0.5));
  width: 80%;
  margin: 0 auto 0 auto;
  display: block;
}
